.mg-top-10{ margin-top: 10px; }
.mg-top-20{ margin-top: 20px; }
.mg-top-30{ margin-top: 30px; }
.mg-top-40{ margin-top: 40px; }
.mg-top-50{ margin-top: 50px; }


.info-feature{
	padding: 11px;
}

.regions-item{
  border-bottom: 1px solid #e9e9e9;
}
