{% extends '::Backend/base.html.twig' %}

{% block title %}AppBundle:Home:index{% endblock %}

{% block body %}
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>{{teste}}</h1>
    </section>
</aside><!-- /.right-side -->
{% endblock %}
