/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/vendor/
/web/bundles/
/web/assets/*
/app/config/parameters_dev.yml
/app/config/parameters_prod.yml
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/bin/
/nbproject/private/
/nbproject/
/web/js/
/web/css/
/web/uploads/*
/composer.lock
/.idea/
.bowerrc
/web/.htaccess
.DS_Store
/node_modules/
!/web/js/mix
docker-compose.yml
caeli_site.sql
/provision/
/docker/*
docker-compose.prod.yml
.vscode