{% extends '::base-login.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    {% if app.user is null %}
        {% if error is defined and error %}
          <div class="alert alert-block alert-danger fade in">
            <button type="button" class="close close-sm" data-dismiss="alert">
                <i class="fa fa-times"></i>
            </button>
            {{ error|trans }}
          </div>
        {% endif %}
        <section id="login-user">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 panel-theme col-centered text-left">
                        <h1 class="login">Alerta!</h1>
                        <p>Identificamos que já nos solicitou uma alteração de senha nas últimas 24 horas.</p>
                    </div>

                </div>
            </div>
        </section>
    {% else %}
        <section id="login-user">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12 panel-theme col-centered text-left">
                        <h1>Você já está logado no momento, clique em 'MINHA CONTA' e aproveite.</h1>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
